@import url("../vendor/normalize.css");

.page {
}

.header {
}

.content {
}

.footer {
}

. @media (max-width: 1280px) {
  .page {
    background-color: red;
  }
}

@media (max-width: 768px) {
  .page {
    background-color: blue;
  }
}

@media (max-width: 320px) {
  .page {
    background-color: green;
  }
}
